services:
  postgres-server:
    image: postgres
    container_name: postgres-server
    environment:
      - POSTGRES_PASSWORD=123
    ports:
      - '5432:5432'
    networks:
      - fullstack-indt

  pg-admin-web:
    image: dpage/pgadmin4:latest
    container_name: pg-admin-web
    restart: always
    depends_on:
      - postgres-server
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - '8080:80'
    networks:
      - fullstack-indt

networks:
  fullstack-indt:
    driver: bridge
